= render_attrs(entry, :ch_open_member_type_label) unless (entry[:ch_open_member_type]).blank?
= render_attrs(entry, :tcbe_member_type_label) unless (entry[:tcbe_member_type]).blank?
= render_attrs(entry, :tcbe_company_type_label) unless (entry[:tcbe_company_type]).blank?

=render_present_attrs(entry,:membershipfee, :invoicenumber, :entrydate, :leavingdate, :apprentice_label)
